.portfolio-box{
    height: 300px;
    width: 300px;
}







.circular-progress {
  display: block;
}

.circular-progress-bg {
  fill: none;
  stroke: #ccc; /* Background color */
}

.circular-progress-fill {
  fill: none;
  stroke: #ff0000; /* Progress color */
  transition: stroke-dashoffset 0.3s ease;
}